@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
display: flex;
padding: 8px 20px 8px 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 41px;
border: 2px solid #5100BF;
background: #EEE6F9;
font-size: 20px;
color: #5100BF
}

button p{
  margin: 0;
}

h1, h2, h3, h4, p{
  margin: 0;
}

h1{
font-family: 'Big Shoulders Display';
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 75.076px; /* 117.306% */
text-transform: capitalize;
}

h2{
font-family: 'Big Shoulders Display';
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 75.076px; /* 134.064% */
text-transform: capitalize;
}

h3{
  color: #171717;
font-family: 'Neue Helvetica';
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h4{
font-family: 'Neue Helvetica';
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

p{
font-family: 'Neue Helvetica';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}